<ion-header>
  <ion-toolbar>
    <div class="handle"></div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mycontent">
    <h4>Freizeit Aktivitäten</h4>
    <div class="mydiv">
      <ion-checkbox class="mycheckbox"></ion-checkbox>
      <span class="mytitle">Hobbies</span>
      <ion-icon class="myicon" name="chevron-forward"></ion-icon>
      <div class="mychipdiv">
        <ion-chip>
          <ion-label>Piano</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Gaming</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
      </div>
    </div>
    
    <div class="mydiv">
      <ion-checkbox class="mycheckbox"></ion-checkbox>
      <span class="mytitle">Spontanes</span>
      <ion-icon class="myicon" name="chevron-forward"></ion-icon>
      <div class="mychipdiv">
        <ion-chip>
          <ion-label>Piano</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Gaming</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
      </div>
    </div>
    
    <h4>Soziales Engagement</h4>

    <div class="mydiv">
      <ion-checkbox class="mycheckbox"></ion-checkbox>
      <span class="mytitle">Ehrenamtlich</span>
      <ion-icon class="myicon" name="chevron-forward"></ion-icon>
      <div class="mychipdiv">
        <ion-chip>
          <ion-label>Piano</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Gaming</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
      </div>
    </div>

    <div class="mydiv">
      <ion-checkbox class="mycheckbox"></ion-checkbox>
      <span class="mytitle">Bürgerthemen</span>
      <ion-icon class="myicon" name="chevron-forward"></ion-icon>
      <div class="mychipdiv">
        <ion-chip>
          <ion-label>Piano</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Gaming</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>
</ion-content>
