.handle {
    background-color: gray;
    height: 5px;
    width: 50px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 50px;
}

.mydiv {
    margin-top: 10px;
    margin-bottom: 30px;
}

.mycheckbox {
    height: 24px;
    width: 24px;
}

.mytitle {
    padding-left: 15px;
    font-size: 34px;
}

.myicon {
    float: right;
    font-size: 24px;
    height: 40px;
    padding-right: 15px;
}

.mychipdiv {
    overflow: hidden;
    width: 1000px;
    height: 40px;
}

.mycontent {
    padding: 30px 15px 0px 50px;
}